*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
p, label{
    font-family: 'Open Sans', sans-serif;

}

@keyframes fadeOut {
    to {
        opacity: 0;

    }

}
@keyframes fadeFromLeft {
    to {
        left: 0;
        opacity: 1;

    }

}

@keyframes slideTopIn {
    to {
        top:2%;
        opacity: 1;
    }
}
@keyframes scaleRight {
    to{
        transform: scaleX(1);
    }
}
@keyframes scaleUp {
    to{
        transform: scale(1);
    }
}


@keyframes lineDown {
    0% {
        transform: scale(1, 0);
        transform-origin: top center;
    }
    25% {
        transform: scale(1, 1);
        transform-origin: top center;
    }
    75% {
        transform: scale(1, 1);
        transform-origin: top center;
    }
    76% {
        transform: scale(1, 1);
        transform-origin: bottom center;
    }
    100% {
        transform: scale(1, 0);
        transform-origin: bottom center;
    }
}


@keyframes arrowDown{
    0% {
        bottom: 25px;
    }
    30% {
        bottom: 15px;
        opacity: 1;
    }
    70% {
        bottom: 10px;
        opacity: 1;
    }
    100% {
        bottom: 5px;
        opacity: 0;
    }

}

@keyframes skeletonBlur{
    to {
        background-position: 250% -150px;
    }

}




@media screen and (min-width: 320px) {
    .jl-page-wrapper, .jl-preloader{
        width: 100%;
        height: 100vh;
        display: table;
        background-color:#1C1C1C ;
        border: 30px solid #000; 

    }
    .jl-preloader{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        z-index: 1000;       
        position: fixed;
        top: 0;
        left: 0;
    }
    .jl-preloader-inner {
        margin-top: -45px;
    }

    .jl-overlay, .jl-menu-overlay {
        width: 100%;
        height: 100vh;
        display: none;
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        background-color: rgba(44, 203, 105, 0.95);
    }

    .jl-modal {
        width: 800px;
        display: none;
        padding: 30px;
        border-radius: 0 30px 30px 30px;
        position: fixed;
        top: -100%;
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: 1200;
        opacity: 0;
    }
    .jl-modal-header, .jl-modal-body, .jl-form {
        width: 100%;
        display: table;
        position: relative;

    }
    .jl-close-modal {
        width: 38px;
        height: 38px;
        border-radius: 50%;
        color: #2CCB69;
        text-align: center;
        line-height: center;
        cursor: pointer;
        position: absolute;
        top: -15px;
        right: -15px;
        border: none;
        background-color: #2f2f2f;
    }
    .jl-form label {
        margin-bottom: 10px;
        font-size: 16px;
        display: inline-block;
    }
    .jl-field, textarea{
         width: 100%;
    
         background-color: #2f2f2f;
         border-radius: 4px;
         color: #fff;
         border: none;
         font-size: 16px;
         text-indent: 15px;

    }
    .jl-field {
        height: 45px;
    }

    
    .jl-topbar{
        width: 100%;
        height: 110px;
        display: block;
        background-color:transparent;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 900;
    }
    .jl-logo{
        width: 74px;
        height: 110px;
        float:left;
        margin-left: 60px;
        background-color: #2CCB69;
        border-radius: 0 0 37px 0;
        
    }
    
    .jl-logo img{
        width: 46px;
        height: 31px;
        display: block;
        margin: 55px auto 0 auto;
    }

    .jl-menu{
        display: none;
    }
    .jl-btn-menu-mob{
        width: 54px;
        height: 54px;
        display: block;
        border-radius: 50%;
        border: none;
        background-color: #2CCB69;
        color: #000;
        position: fixed;
        right: 30px;
        top: 30px;
        z-index: 1250;
        cursor: pointer;
    }
    .jl-btn-menu-mob ion-icon{
        vertical-align: middle;

    }
    .jl-menu-mob{
        width: 240px;
        height: 100vh;
        display: block;
        background-color:#000 ;
        position: fixed;
        top: 0;
        padding: 100px 30px 30px;
        z-index: 1200;
        transition: all 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);

    }
    .jl-menu-is-open{
        right: 0;
    }
    .jl-menu-is-closed{
        right: -240px;
    }
    .jl-menu-mob a{
        width: 100%;
        height: 60px;
        display: block;
        line-height: 60px;
        color: #fff;
        font-family: 'Open Sans', sans-serif;
        text-decoration: none;

    }


    .jl-btn-contact{
        width: 45px;
        height: 45px;
        display: block;
        background-color: #2CCB69;
        background-image: url('../images/icon-contact-close.svg');
        background-repeat: no-repeat; 
        position: fixed;
        bottom: 45px;
        right: 45px;
        border-radius: 50%;
        z-index: 200;
        transition: all 0.2s ease-out;
        border: none;
        cursor: pointer;
    }
   
    .jl-contact-info {
        width: 245px;
        height: 165px;
        display: none;
        padding: 25px;
        position: fixed;
        bottom: 115px;
        right: 65px;
        z-index: 200;
    }
    .jl-contact-info-inner{
        display: table;
        width: 100%;
        float: right;
    }
    .jl-contact-info-inner p {
        font-size: 18px;
        line-height: 24px;
    }
    .jl-social-links, .jl-social-links-cicle{
        width: 100%;
        height: 45px;
        display: block;
        position: relative;
        left: -12px;
        margin-top: 7px;
    }
    .jl-social-links-cicle{
        left: 0;
    }
  
    .jl-social, .jl-social-links-cicle .jl-social{
        width: 45px;
        height: 45px;
        display: inline-block;
        
    }
    .jl-social-links-cicle .jl-social{
      border-radius: 50%;
      text-align: center;
      transition: all 0.2s ease-out;
    }
    .jl-social-links-cicle .jl-social ion-icon{
        height: 45px;
        transition: all 0.2s ease-out;
    }
    .jl-social-links-cicle .jl-social:hover{
        background-color: #000 ;
    }
    .jl-social-links-cicle .jl-social:hover ion-icon{
        color: #2CCB69;
    }

    .jl-social > img {
        width: 20px;
        height: auto;
        display: block;
        margin: 13px auto 0;
    }
    .jl-corner{
        width: 25px;
        height: 25px;
        display: block;
        float: right;
        display:relative; 
    }
    .jl-corner:after{
        content: '';
        width: 25px;
        height: 25px;
        display: block;
        position:absolute;
        bottom: -23px;
        right: -1px;
        background: transparent url('../images/corner.svg') no-repeat;
    }

    /* HOME */

    .jl-display-text {
        margin-top: 5%;
    }
    .jl-home-presentation {
        background-image: url('../images/joao-lemon-designer-home.png');
        background-repeat: no-repeat;
        background-position: 55% bottom;
        position: relative;
        background-size: 50% auto;
    }
    .jl-home-presentation h1{
        margin-top: 50px;
        text-align: center;
    }
    .jl-home-presentation p{
      
        text-align: center;
    }
    .jl-home-presentation .jl-btn{
        margin-left: auto;
        margin-right: auto;
    }
   

    
    .jl-scroll-down {
        width: 60px;
        height: 95px;
        border-radius: 35px 35px 0 0;
        background-color: #2CCB69;
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: 100;
    }
    
    
    .jl-arrow-down {
        width: 100%;
        height: 75px;
        display: table;
        margin-top: 22px;
        position: relative;
        

    }
    .jl-arrow-down img {
        width: 10px;
        height: 10px;
        display: block;
        position: absolute;
        bottom: 25px;
        left: 0;
        right: 0;
        margin: 0 auto;
        opacity: 0;
        animation: arrowDown 1.5s linear 1.5s infinite;
        

    }
    .jl-arrow-down:before {
        content: '';
        width: 2px;
        height: 45px;
        display: block;
        position: absolute;
        bottom: 22px;
        left: 0;
        right: 0;
        margin: 0 auto;
        background-color: black;
        animation: lineDown 1.5s ease-out infinite ;
        transform-origin: top center;

    }

    /* ---- HOME -- PORTFOLIO ---- */

    .jl-portfolio-navigator {
        width: 115px;
        height: 350px;
        display: table;

        position: absolute;
        left: 0px;
        top: 30vh;
       
    }
    .jl-navigator-counter {
        width: 100%;
        height: 50px;
        display: block;
        margin-bottom: 50px;
        position: relative;

    }
    .jl-navigator-counter:before {
        content: '';
        display: block;
        width: 28px;
        height: 150%;
        background-color: #1C1C1C;
        position: absolute;
        top: -18px;
        left: 0;
    }
    .jl-navigator-counter span{
        font-family: 'Opens sans', sans-serif;
        font-size: 100px;
        line-height: 40px;
        font-weight: 600;

        
    }
    .jl-item-navigator{
        width: 100%;
        display: table;

    }
    .jl-item-navigator a{
        width: 15px;
        height: 1px;
        display: block;
        margin: 0 0 55px 30px;
        background-color: #4d4d4d;
    }
    .jl-item-navigator a.jl-item-active {
        
        background-color: #2CCB69;
    }
    .jl-item-navigator a:last-child {
        margin-bottom: 30px;
    }
    .jl-items-next-prev {
        width: 100%;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #2c2c2c;
        border-radius: 23px;
    }
    .jl-items-next-prev > div {
        height: 32px;
    }
    .jl-items-counter {
        font-family: 'Opens Sans', sans-serif;
        color: #4d4c4c;
        line-height: 32px;
        
    }

    .jl-item-prev, .jl-item-next {
        width: 30px;
        color: #2CCB69;
        text-align: center;
        cursor: pointer;
    }
    .jl-items-counter span:nth-child(1){
        color: #bcbcbc;
    }
    ion-icon {
        font-size: 32px;
    }
    .jl-slider-container{
        
        display: block;
        overflow: hidden;
    }
    .jl-slider-list {
        width: auto;
        height: 500px;
        display: block;
       
        list-style: none;
    }
    .jl-slider-list .jl-portfolio-item {
        display: block;
        height: 350px;
        float: left;
        margin-top: calc(30vh - 75px);
    }
    .jl-portfolio-list .jl-portfolio-item{
        margin-bottom: 70px;
    }

    .jl-slider-list .jl-portfolio-item-info {
        width: 100%;
        display: table;
        margin-top: 40px;
        position: relative;
        opacity: 0;
 
    }
    .jl-portfolio-list .jl-portfolio-item-info {
        width: calc(100% - 30px);
       
    }
   .jl-slider-list .jl-portfolio-item-info p{
       text-align: center;

    }
    .jl-slider-list .jl-portfolio-item-info button{
        margin: 0 auto;
 
     }

    .jl-portfolio-list{
        list-style: none;
    }
    .jl-slider-list .jl-portfolio-item-thumb, .jl-portfolio-list .jl-portfolio-item-thumb {
        width: 100%;
        display: table;
        padding: 50px 0 19px 0;
        position: relative;
        right: -70px;
    }
    .jl-slider-list .jl-portfolio-item-thumb > button, .jl-portfolio-list .jl-portfolio-item-thumb > button{
        margin-top: 17px;
        margin-right: 50px;
        float:right;

    }
    .jl-slider-list .jl-portfolio-item-box{
        width: 100%;
        height: 100%;
        display: block;
        background-color: #2c2c2c;
        position: absolute;
        top: 0;
        left: 0;
        transform: scaleX(0);
        transform-origin: right;
    }
    .jl-portfolio-list .jl-portfolio-item-box{
        width: 100%;
        height: 100%;
        display: block;
        background-color: #2c2c2c;
        position: absolute;
        top: 0;
        left: 0;
       
    }

    .jl-slider-list .jl-portfolio-item-thumb img{
        width: 100%;
        max-width: 100%;
        height: auto;
        position: relative;
        left: -50px;
        transform: scale(0);
    }
    .jl-portfolio-list .jl-portfolio-item-thumb img{
        width: 100%;
        max-width: 100%;
        height: auto;
        position: relative;
        left: -50px;
        
    }
   
    

    /* ----- PORTFOLIO ----- */

    .jl-section-offset-top{
        margin-top: 110px;
    }
    .jl-portfolio-list .jl-portfolio-item:nth-child(odd) .jl-portfolio-item-info{
       text-align: right;
       margin-top: 35px;
    }
    
    .jl-portfolio-list .jl-portfolio-item:nth-child(odd) .jl-portfolio-item-info button{
        float: right;
     }
     
     .jl-portfolio-list .jl-portfolio-item:nth-child(even) .jl-portfolio-item-info{
        margin-left: 170px;
     }
     
     .jl-portfolio-list .jl-portfolio-item:nth-child(even) > .row{
         flex-direction: row-reverse;
      

     }

     .jl-portfolio-list .jl-portfolio-item:nth-child(even) .jl-portfolio-item-thumb button{
        float: left;
        margin-left: 50px;
     }
     .jl-portfolio-list .jl-portfolio-item:nth-child(even) .jl-portfolio-item-thumb img{
       left: 50px;
     }

     /* ----- SOBRE ----- */

     #jl-avatar-sobre img{
         position: relative;
         left: -12px;

     }
     /* ----- DESTALHES ----- */
     .jl-hero{
         height: 400px;
         background-image: url('../pages/portfolio/img/hero.png');
         background-repeat: no-repeat;
         background-size: cover;
         background-position: center;
         display: block;
         
       
     }
     
    .jl-hero h1{
        margin-bottom: 50px;
       
    }
     .jl-hero-inner{
         height: 400px;  
       
     }
     .jl-hero-inner-content{
         position: relative; 
      
    
     }
     .jl-hero-inner-content p{
        margin-bottom: 15px;
   
    }
     .jl-hero-inner-content:before{
         content: '';
         width: 100%;
         height: 100%;
         background-color: rgba(0, 0, 0, 0.85);
         display: block;
         position: absolute;
         left: -30px;
         top: -30px;
         box-sizing: content-box;
         padding: 30px;
           
     }
     .jl-zindex-1000{
         position: relative;
         z-index: 100;
     }
     .jl-project-stats{
         width: 100%;
         height: 100%;
         display: table;
         border-right: 1px solid #2CCB69;
        
     }

     .jl-post{
         width: 100%;
         display: table;
     }
     .jl-post p{
         margin-bottom: 30px;

     }
     .jl-post-section{
         width: 100%;
         display: table;
         padding: 45px 0;
     }
     .jl-pre-gallery{
         padding-bottom: 350px;
     }
     .jl-post-gallery{
         display: block;
     }
     .jl-post-gallery .container{
        position: relative;
        top: -270px;
    }
    
    .jl-gallery-frame-container{
        width: 250px;
        display: none;
        position: fixed;
        top: 50px;
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: 1100;
    }
    .jl-gallery-frame-inner{
        width: 100%;
        height: 100%;
        display: block;
        position: relative;


    }
    .jl-gallery-frame-inner .jl-skeleton-loading{
        width: 86%;
        height: 100%;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        position: absolute;
        top: 3%;
        left: 7%;
        z-index: 1250;
       
    }
    .jl-gallery-frame-inner .jl-skeleton-loading > div{
        width: 90%;
        background-color: #dedede;
        margin: 10% 0;
        border-radius: 8px;
        background-image: url('../images/skeleton-loading-blur.svg');
        background-repeat: no-repeat;
        background-position: -100% -150px;
        animation: skeletonBlur 2s infinite ease-out;
    }
    .jl-gallery-frame-inner .jl-skeleton-loading > div:first-child, .jl-gallery-frame-inner .jl-skeleton-loading > div:last-child{
       height: 15%;
    }
    .jl-gallery-frame-inner .jl-skeleton-loading > div:nth-child(2){
        height: 60%;

    }

    .jl-gallery-frame-container .jl-items-next-prev{
        width: 130px;
        margin: 65px auto 0 auto;
    }
    .jl-close-gallery{
        width: 42px;
        height: 42px;
        display: block;
        background-color: #000;
        border-radius: 50%;
        border: none;
        position: absolute;
        top: -15px;
        right: -45px;
        z-index: 1200;
    }
    .jl-close-gallery ion-icon{
        color: #2CCB69;
        width: 20px;
        height: 20px;
       text-align: center;
       line-height: 42px;
       cursor: pointer;

    }
    .jl-gallery-frame{
        width: 100%;
        max-width: 100%;
        height: auto;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1300;
    }
    .jl-gallery-frame-image{
        width: 87%;
        max-width: 87%;
        margin: 0 auto;
        display: block;
        z-index: 1200;
        border-radius: 30px;
        position: relative;
        top: 16px;
    }

/* Utilitárias*/

.jl-title-xlarge {
    font-size: 90px;
}
.jl-title-large {
    font-size: 60px;
    text-align: center;
}


}
@media screen and (min-width: 576px) {
   
}
@media screen and (min-width: 700px) {
    .jl-home-presentation{
        background-size: 100%;
    }
}
@media screen and (min-width: 768px) {
    .jl-home-presentation{
        background-size: 80%;
    }
    .jl-title-large {
        font-size: 48px;
    }
}
@media screen and (min-width: 992px) {
    .jl-menu-mob, .jl-btn-menu-mob{
        display: none;
    }
    .jl-menu{
        display: table;
        float: left;
        height: 110px;
        margin-left: 30px;
    }
    .jl-menu a{
        font-family: 'Open Sans';
        font-size: 16px;
        color: #bcbcbc;
        text-decoration: none;
        text-transform: lowercase;
        display: inline-block;
        margin: 50px 20px 0 20px;
        font-weight: 400;
        position: relative;
    }
    .jl-menu a:first-child{
        margin-left: 0;
    }
    .jl-menu a:hover{
        color: #2CCB69;
    }
    .jl-menu a:before{
        content: '';
        width: 100%;
        height: 4px;
        background-color:#2CCB69 ;
        display: block;
        position: absolute;
        bottom: -6px;
        left: 0;
        transition: all 0.2s ease-out;
        transform: scale(0, 1);
        transform-origin: center left;
    }

    .jl-menu a:hover:before{   
        transform: scale(1, 1);
    }
    .jl-title-xlarge {
        font-size: 90px;
    }
    .jl-home-presentation {
       
        background-size: auto;
    }
    .jl-home-presentation h1{
        margin-top: 0;
        text-align: left;
    }
    .jl-home-presentation p{
        text-align: left;
    }
    .jl-home-presentation .jl-btn{
        margin-left: 0;
    }
    .jl-slider-list .jl-portfolio-item-thumb {
        padding: 30px 0 19px 0;
        margin-top: 30px;
    }
    .jl-slider-list .jl-portfolio-item-thumb img{
        width: 120%;
        max-width: 120%;
        left: -105px;
    }
    .jl-slider-list .jl-portfolio-item-thumb > button{
        margin-right: 25px;
    }
    .jl-navigator-counter span{
        font-size: 80px;
    }
    .jl-navigator-counter::before{
    width: 22px;
    }
    .jl-title-large, .jl-slider-list .jl-portfolio-item-info p{
        text-align: left;
    }
   .jl-slider-list .jl-portfolio-item-info{
    width: calc(100% - 30px);
    left: -75px;
   }
   .jl-slider-list .jl-portfolio-item-info button{
    margin: 0 ;

 }
}
    

@media screen and (min-width: 1200px) {
    .jl-title-large{
        font-size: 64px;
    }
    .jl-slider-list .jl-portfolio-item-thumb {
        padding: 50px 0 19px 0;
        margin-top: 10px;
    }
    .jl-slider-list .jl-portfolio-item-thumb img{
        width: 100%;
        max-width: 100%;
        left: -50px;
    }
    .jl-slider-list .jl-portfolio-item-thumb > button{
        margin-right: 50px;

    }
    .jl-navigator-counter span{
        font-size: 100px;
 

    }.jl-navigator-counter::before{
    width: 28px;
 

    }
}
@media screen and (min-width: 1364px) {
    
}
@media screen and (min-width: 1600px) {
    
}
/* BOTÕES */

.jl-btn {
    display: table;
    text-align: center;
    font-family: 'Opens Sans', sans-serif;
    font-weight: 600;
    border: none;
    transition: all 0.2s ease-out;
    text-transform: lowercase;
    position: relative;
}
.jl-btn ion-icon {
    font-size: 21px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 2px;
    margin-top: -3px;
}
.jl-btn-block {
    display: block;
    width: 100%;
}


.jl-btn-small {
    height: 28px;
    line-height: 28px;
    padding: 0 20px;
    border-radius: 14px;
    font-size: 11px;

}
.jl-btn-medium {
    height: 38px;
    line-height: 38px;
    padding: 0 27px;
    border-radius: 19px;
    font-size: 14px;

}
.jl-btn-large {
    height: 45px;
    line-height: 45px;
    padding: 0 35px;
    border-radius: 23px;
    font-size: 16px;

}
.jl-btn-green {
    background-color: #2CCB69;
    color: #1C1C1C;
}
.jl-btn-green:hover {
    background-color: rgb(6, 135, 55);
    color: #fff;
}
.jl-btn-dark {
    background-color: #151515;
    color: #2CCB69;
}
.jl-btn-dark:hover {
    background-color: #2f2f2f;
    color: #fff;
}
/* CLASSES UTILITÁRIAS */

    .jl-title{
        font-family: 'Abril Fatface', serif;
        font-weight: normal;
    }
    .jl-subtitle{
        font-family: 'Open Sans', serif;
        font-weight: 800;
    }
    .jl-title-medium {
        font-size: 36px;
    }
    

    
    .jl-text-green{
        color: #2CCB69;
    }
    .jl-text-dark{
        color: #4D4C4C;
    }
    .jl-text-light{
        color: #bcbcbc;
    }
    .jl-text-black{
        color: #000;
    }
    .jl-text-center{
        text-align: center;
    }


    .jl-bg-green{
        background-color: #2CCB69;
    }
    .jl-bg-dark{
        background-color: #4D4C4C;
    }
    .jl-bg-light{
        background-color: #bcbcbc;
    }
    .jl-bg-black{
        background-color: #000;
    }


    .jl-mar-15{
        margin: 15px;
    }
    .jl-mar-top-15{
        margin-top: 15px;
    }
    .jl-mar-right-15{
        margin-right: 15px;
    }
    .jl-mar-bottom-15{
        margin-bottom: 15px;
    }
    .jl-mar-left-15{
        margin-left: 15px;
    }

    .jl-pad-15{
        padding: 15px;
    }
    .jl-pad-top-15{
        padding: 15px;
    }
    .jl-pad-right-15{
        padding: 15px;
    }
    .jl-pad-bottom-15{
        padding: 15px;
    }
    .jl-pad-left-15{
        padding: 15px;
    }


    .jl-mar-20{
        margin: 20px;
    }
    .jl-mar-top-20{
        margin-top: 20px;
    }
    .jl-mar-right-20{
        margin-right: 20px;
    }
    .jl-mar-bottom-20{
        margin-bottom: 20px;
    }
    .jl-mar-left-20{
        margin-left: 20px;
    }

    .jl-pad-20{
        padding: 20px;
    }
    .jl-pad-top-20{
        padding: 20px;
    }
    .jl-pad-right-20{
        padding: 20px;
    }
    .jl-pad-bottom-20{
        padding: 20px;
    }
    .jl-pad-left-20{
        padding: 20px;
    }

    .jl-mar-30{
        margin: 30px;
    }
    .jl-mar-top-30{
        margin-top: 30px;
    }
    .jl-mar-right-30{
        margin-right: 30px;
    }
    .jl-mar-bottom-30{
        margin-bottom: 30px;
    }
    .jl-mar-left-30{
        margin-left: 30px;
    }

    .jl-pad-30{
        padding: 30px;
    }
    .jl-pad-top-30{
        padding: 30px;
    }
    .jl-pad-right-30{
        padding: 30px;
    }
    .jl-pad-bottom-30{
        padding: 30px;
    }
    .jl-pad-left-30{
        padding: 30px;
    }

    .jl-full-height{
        height: 100vh;
        position: relative;
       
    }
    .jl-first-section{
        height: calc(100vh - 30px);
    }
    .jl-no-padding {
        padding: 0 !important;
    }
    .jl-box-img{
        width: 100%;
        display: table;
    }

    .jl-img-responsive{
        width: 100%;
        max-width: 100%;
        height: auto;
        display: block;
    }
    .jl-page-list{
        list-style: none;
        font-family: 'Open Sans', sans-serif;
    }
    .jl-page-list > li{
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 15px;
        padding-left: 20px;
        position: relative;

    }
    .jl-page-list > li::before{
        content: '';
        width: 8px;
        height: 8px;
        display: block;
        border-radius: 50%;
        position: absolute;
        top: 7px;
        left: 0;
        background-color: #2CCB69;

    }

    /* CLASSES COMPORTAMENTO*/

    .jl-is-open{
        display: block;
    }
    .jl-slide-top-in {
        animation: slideTopIn 0.6s forwards cubic-bezier(0,1.11,.6,.89);
    }
    .jl-change-icon{
        background-position-y: -45px;
    }
    .jl-fade-out{
        animation: fadeOut 2s forwards ease-out;
    }
    .jl-fade-from-left{
        animation: fadeFromLeft 2s 0.7s forwards cubic-bezier(0,1.01,.32,1);
    }
    .jl-scale-right{
        animation: scaleRight 0.7s 0.2s forwards cubic-bezier(0,1.01,.32,1)
    }
    .jl-scale-up{
        animation: scaleUp 0.5s 0.5s forwards cubic-bezier(0,1.01,.32,1)
    }

    .jl-no-radius-left {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    .jl-no-radius-right {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .red{
        background-color: red;
    }
    .yellow{
        background-color: yellow;
    }
    .blue{
        background-color: blue;
    }
    .purple{
        background-color: purple;
    }
    .green{
        background-color: green;
    }


